.menu-block,
.home-block,
.contact-block {
    border: 2px solid;
}

.header {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 28px;
    cursor: pointer;
}

.container {
    
}